<!DOCTYPE html>
<html>
<head>
    <title>Таблица с метриками</title>
<head>
<style>
    table {
        border-spacing: 5px;
        width: 50%;
    }
    th {
        text-align: left;
    }
</style>
<body>
    <h1>Список метрик</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
        {{range $i, $raw := .Raws}}
        <tr>
            <td>{{$raw.ID}}</td>
            <td>{{$raw.Type}}</td>
            <td>{{$raw.Value}}</td>
        </tr>
        {{end}}
        </table>
</body>
</html>